@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

#scroll-movie-parent {
    overflow-x: hidden;
    position: relative;
    height: 30rem;
}

#movie-scroll {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    animation: move 20s linear infinite;
}

#scroll-movie-parent::-webkit-scrollbar {
    display: none;
}
#scroll-movie-parent:hover {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#movie-scroll:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
